#carouselControls img {
    width: 100%;
    height: auto;
    min-height: 500px;
    margin-bottom: auto;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    border-bottom: 1px;
    border-bottom-color: gainsboro;
}