<!--/.navbar -->

<div class="container-fluid">
  <div id="wrapperHeader">
    <div id="header">
    </div>
  </div>
  <div class="row">
    <app-sidebar class="col-md-3"></app-sidebar>
    <main class="col-md-8 col-sm-6">
      <router-outlet></router-outlet>
    </main>
  </div>
  <!--/row-offcanvas -->