
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.extradiv {
     top:0;
}

main {
    max-width: 700px;
}

a { 
    color: deepskyblue;
}

h1 {
    font-family: boldDigits, monospace;
    font-size: 14px;
    size: 14px;
    font-weight: bold;
}

h2,h3,h4,h5,p,a,body,html{ 
    font-family: boldDigits, monospace;
    font-size: 14px;
    size: 14px;
}

h2 ~ *:not(h1):not(h2):not(h3) {
    margin-left: 15px;
}

/*
h1 ~ *:not(h2) {
    margin-left: 25px;
}
h2 ~ *:not(h3) {
    margin-left: 50px;
}*/

h1,h2,h3,h4,h5 {
    color: forestgreen;
        font-weight: bold;
}


h1:before {
   content: " # "
}
/*
h1:after {
   content: " - "
}
*/
h2:before {
   content: " - "
}
h3:before {
   content: " - "
}
h4:before {
   content: " - "
}
h5:before {
   content: " - "
}

.line-cnt a {
    background-color: #262625;
    color:dimgray;
    justify-content: right;
    text-align: right;
    line-height: 7.5px;
    padding: 5px;
    width:12px;
}

.thin-gutter {
    min-width: 40px;
    height: 100%;
    top: 0;
    float: left;
    margin-left: 25px;
    justify-content: right;
    text-align: right;
}

li:not(.line-cnt)  {
    color: goldenrod;
    opacity: .7;
}
li:before:not(.line-cnt) {
    content: " - ";
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}