
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html {
	margin: 0;
	padding: 0;
	}

	
body { 
	font: 80% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: lightblue;
	margin: 0; 
	padding: 0;
}

abbr {
	border-bottom: none;
}

.content {
	padding-top: 50px;
	margin-top: 50px;
}
.navbar  {
	width:100%;
	height:50px; /* height of the background image? */
	background:url("../assets/img/neural-net.jpg");
	text-align:top;
    position: fixed;
	background: #f8f8f8;
	color:#282828;

}
.navbar-brand {
		  color:#282828;
}

.btn-info{
		background: #f8f8f8;
}

#wrapperHeader #header {
	width:1000px;
	height:125px;
	margin:0 auto;
}
