
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html {
	margin: 0;
	padding: 0;
	}

	
body { 
	font: 80% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: lightblue;
	margin: 0; 
	padding: 0;
	}

	
	
	
abbr {
	border-bottom: none;
	}

div #wrapperHeader {
	width:100%;
	height:125px; /* height of the background image? */
	background:url("../assets/img/neural-net.jpg");
	text-align:center;
	display: block;
	opacity: .75;
	margin-bottom: 25px;
    border-bottom: 1px solid darkgray;
}
	   
#wrapperHeader #header {
	width:1000px;
	height:125px;
	margin:0 auto;
}
	