.card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #5bc0de;

}
.panel.customClass .panel-body {
  background-color: #337aa7;
}

.panel-body{
  /*background-color: #282828;*/
  background-color: #FFFFFF;
  color:#282828;

}
.side-nav {
    left: 0;
    top:0;
    max-width: 350px;
    background-color: #FFFFFF;
    color : #404040;
    
}

.background {
  color: #282828;
}

.collapsible ul {
  background-color: whitesmoke;
    color: #282828;
}

.userView {
    background-color: white;
    color: lightgray;
}

.collapse-panel {
  background-color: whitesmoke;
  height: auto;
}
.collapsible li {
  background-color: #fcfcfc;
    color: #282828;
    border: 1px solid #f9f9f9;
}

.collapsible-header {
  color:#282828;
  background-color: whitesmoke;
}

.collapsible-header .active:hover {
  color:#282828;
  font-size: 12px;
  background-color:lightsteelblue;
}

li .collapsible a {
  font-size: 9px;
  background-color: whitesmoke;
  color:#282828;
}

.collapsible li:hover {
  background-color:whitesmoke;
  color:#282828;
}

.collapsible li .active:hover {
  background-color:lightsteelblue;
  color: #282828;
}

.collapsible ul li {
  background-color: whitesmoke;
  color: #282828;
  margin-left: 15px;
}

.collapsible div {
  background-color: whitesmoke;
  color: #282828;
  margin-left: 15px;
}

.collapsible div .active:hover{
  background-color: whitesmoke;
  color: #282828;
  margin-left: 15px;
}

.collapsible .active:hover {
  background-color: whitesmoke;
  color: #282828;
}


.userView li a{
  background-color: whitesmoke;
  color: #282828;
  font-weight: bolder;
}

li .active {
  color: #282828;
  
  background-color:lightsteelblue;
}

.active {
    color: #282828;
  opacity: .9;
  background-color:lightsteelblue;
}

ul a{
    color: #282828;
  opacity: .75;
}
