
.panel-body .markdown h1, h2 { color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }

.nav-tabs {
    padding-top: 25px;
    width: 100%;
}

#readme-panel {
    padding-top: 50px;
}


.content {
    padding-left: 100px;
    padding-right: 200px;
}