

body { 
	font: 80% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
	}

h1 { 
    font-size: 3.2em;
	}

.h2 { 
	font: italic normal 2.1em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
}
.markdown h4, h5, h6 { 
	font: italic normal 1.1em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
}

.markdown h3 {
	font: italic normal 1.2em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
}

.markdown h4,h5,p,a,body,html{ 
	font: 10pt georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
    	margin-top: 0; 
	text-align: justify;
}