/*body, html{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #7f8c8d;
            overflow-x: hidden; 
    overflow-y: auto;
}
*/
html, body {margin: 0; height: 100%; overflow: hidden}
a {
    text-decoration: none;
    color: #1b98f8;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    letter-spacing: 0.05em;
    font-size: 51.2px;
    line-height: 81.92px;
    letter-spacing: 0.5px;
    color: #34495e;
}

h2 {
        font-family: 'Raleway', sans-serif;
        color: #34495e;
}
h3 {
            font-family: 'Raleway', sans-serif;
        color: #34495e;
}
h4 {
            font-family: 'Raleway', sans-serif;
        color: #34495e;
}
h5 {
        font-family: 'Raleway', sans-serif;
}
h6 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #7f8c8d;
}

.header {
    font-family: 'Raleway', sans-serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
    font-size: 51.2px;
    line-height: 81.92px;
    letter-spacing: 0.8px;
}
.wrapper-head {
    z-index: 5000;
    min-width: 100%;
    min-height: 50px;
    display: block;
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
    background: rgb(252,252,255);
}

.half-rule { 
    margin-left: 0;
    margin-top: auto;
    text-align: left;
    width: 800px;
    position: inherit;
 }

.wrapper-head-title {
    color: #7f8c8d;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: -.02em;
    float: left;
    margin: 10px;
}

.content {
    margin: 25 auto;
    padding-top: 64px;
    max-width: 700px;
    width: 94%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
    color: #95a5a6;
}

.p5-content {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

footer {
    z-index: 3000;
    position: fixed;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: #FFF;
   /* background-color: #ECEFF1;*/
    text-align: center;
}

