@import "../node_modules/materialize-css/dist/css/materialize.css";

body,html,.row-offcanvas {
  height:100%;
  width: auto;
}

body {
    width: auto;
}

#sidebar {
  min-width: 300px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
}

#main {
  height:100%;
  overflow:auto;
}