@import "../node_modules/materialize-css/dist/css/materialize.css";


body,html,.row-offcanvas {
  height:100%;
  width: 100%;
  color: rgb(32, 31, 31); 
  font-family: 'Open Sans', sans-serif; 
  font-size: 12px;
  word-spacing: 0pt;
  line-height: 1.5;
  letter-spacing: .75pt;
}

h1 { 
  font-weight: 300; 
  font-size: 24px; 
  margin: 25px 25px 25px 0px; 
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 120%; 
  font-family: 'Open sans', sans-serif; 
}

h2 { 
  font-weight: 100; 
  font-size: 18px; 
  margin: 10px 10px 10px 0px; 
  line-height: 120%; 
  font-family: 'Open sans', sans-serif; 
  padding-bottom: 5px;
  padding-top: 5px;
}

h3, h4, h5 { 
  font-weight: 50; 
  font-size: 16px; 
  margin: 105px 10px 10px 0px; 
  line-height: 120%; 
  font-family: 'Open sans', sans-serif; 
}

p { 
  color: rgb(32, 31, 31); 
  font-family: 'Open Sans', sans-serif; 
  font-size: 12px;
  word-spacing: 0pt;
  line-height: 1.5;
  letter-spacing: .75pt;
  padding-bottom: 10px;
}


a { color: #990000; text-decoration: none; }


a:hover { text-decoration: underline }
	
	
	/* Clearfix */
	
	.cf:before,
	
	.cf:after { content: " "; display: table; }
	
	.cf:after { clear: both }
	
	
	blockquote { padding: 30px 40px; font-family: 'Bitter',serif; font-size: 18px; border-left: 5px solid #d0d0d0; margin: 20px 40px; color: #a9a9a9; }
	
	
	.post { width: 800px; margin: 100px auto; background: #ffffff; -webkit-box-shadow: 0px 0px 25px 10px #a9a9a9; box-shadow: 0px 0px 25px 10px #a9a9a9; border-radius: 3px; }
	
	
	.header-title { padding: 40px 40px }
	
	
	.header-title h1 { color: #111111 }