<div class="container-fluid">
  <div class="row">
    <div class="slide-row">
      <app-slideshow class="slideshow"></app-slideshow>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="blog-post">
        <h2 class="blog-post-title">Welcome to my Portfolio
        </h2>
        <p class="blog-post-meta">October 5, 2020 by <a href="#">Andy Tangeman</a></p>
        <hr>
        <p>This portfolio is designed to showcase the breadth and scope of my skill-set. It is built using Angular 6.x and leverages
          the GitHub API for populating and displaying my work in the Projects menu on the left sidebar. I will add more functionality 
          as time allows. 
        </p>

        <p>Since this portfolio is technically still in development consider yourself a bonafide tester. As such, you may feel free 
          to navigate freely throughout the site and email me if you encounter any bugs. 
        </p>
      </div>
    </div>
  </div>
</div>