
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html {
	margin: 0;
	padding: 0;
	}

.container-fluid {
	padding-top: 5px;

}
.slide-row {
	height: 400px;
}

body { 
	font: 80% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 50px; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.2em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs
.page-wrapper { 
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}
 */
.intro { 
	min-width: 470px;
	width: 100%;
	}

h1 { 
    font-size: 3.2em;
	}
h2 { 
	font: italic normal 2.2em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
}
h4, h5, h6 { 
	font: italic normal 2.2em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}